<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.AnimationMapper">

    <insert id="subthisAnimation">
        insert into `animation_sublist`
        (aid, uid) values (#{aid}, #{uid})
    </insert>

    <update id="cnacleAnimation">
        update `animation_sublist`
        set deleted = 1
        where uid = #{uid} and aid = #{aid}
    </update>

    <update id="updateingfo">
        update `animation_sublist`
        set deleted = #{deleted}
        where uid = #{uid} and aid = #{aid}
    </update>

    <select id="getAnimationList" resultType="com.bili.entity.PO.AnimationSublist">
        select * from `animation_sublist`
        where uid = #{uid} and deleted = 0
    </select>

    <select id="getAllByAid" resultType="com.bili.entity.PO.AnimationList">
        select * from `animation_list`
        where aid = #{aid}
        order by season and chapter desc
    </select>
    
    <select id="hadSubed" resultType="java.lang.Integer">
        select count(*) from `animation_sublist`
        where aid = #{aid} and uid = #{uid}
    </select>

    <select id="getAnimationByAid" resultType="com.bili.entity.PO.Animation">
        select * from `animation`
        where aid = #{aid}
    </select>

    <select id="getAnimationByKeyword" resultType="com.bili.entity.PO.Animation">
        select * from `animation`
        where title like concat('%', #{keyword}, '%')
    </select>

    <select id="userLikeIt" resultType="java.lang.Integer">
        select count(*) from `animation_sublist`
        where uid = #{uid} and aid = #{aid} and deleted = 0
    </select>

    <select id="getSubed" resultType="java.lang.Integer">
        select count(*) from `animation_sublist`
        where aid = #{aid} and deleted = 0
    </select>

    <select id="getUploadAniList" resultType="com.bili.entity.PO.Animation">
        select *
        from `animation`
        where uid = #{uid}
    </select>

    <select id="getAnimations" resultType="com.bili.entity.PO.Animation">
        select * from `animation`
    </select>
</mapper>