<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.BannerMapper">

    <insert id="addBanner">

    </insert>

    <insert id="addNewBanner">
        insert into `banner`
        (title, cover, bgc, type, target_id) values (#{title}, #{cover}, #{bgc}, #{type}, #{targetId})
    </insert>

    <update id="addBannerToList">
        update `banner`
        set
        ind = #{len}
        where id = #{id}
    </update>

    <update id="setBanner">
        update `banner`
        set
        ind = #{ind}
    </update>

    <update id="updateOneBanner">
        update `banner`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="bgc != null">
                bgc = #{bgc},
            </if>
            <if test="ind != null">
                ind = #{ind}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="sortBanner">
        update `banner` set
        ind = ind - 1
        where ind > #{ind}
    </update>

    <update id="deleteThis">
        update `banner` set
        ind = -1
        where ind = #{ind}
    </update>

    <select id="getBanner" resultType="com.bili.entity.Banner">
        select * from `banner`
        where ind >= 0
        order by ind
    </select>

    <select id="getBannerUnselected" resultType="com.bili.entity.Banner">
        select * from `banner`
        where ind = -1
    </select>
</mapper>