<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.DynamicMapper">
    <insert id="sendDynamic" useGeneratedKeys="true" keyProperty="id">
        insert into `dynamic`
        (uid, content, type, vordid, topical, vordid) values (#{uid}, #{content}, #{type}, #{vordid}, #{topical}, #{vordid})
    </insert>

    <insert id="addDyimgs">
        insert into `dyimgs`
        (did, img, uid) values (#{did}, #{img}, #{uid})
    </insert>
    <insert id="addDynamicLike">
        insert into `like_info`
        (uid, hisuid, did, type) values (#{uid}, #{hisuid}, #{did}, #{type})
    </insert>

    <insert id="addLikeNum">
        update `dynamic`
        set
        likes = likes + #{num}
        where id = #{did}
    </insert>

    <insert id="addTopical">
        insert into `topical`
        (topical, counts, uid, intro, watch) values (#{topical}, 1, #{uid}, #{intro}, 0)
    </insert>

    <insert id="addTopicalWatch">
        update `topical`
        set watch = watch + #{num}
        where
        <if test="tid != -1">
            tid = #{tid}
        </if>
        <if test="tid == -1">
            topical = #{topical}
        </if>
    </insert>

    <update id="addTopicalCount">
        update `topical`
        set counts = counts + #{num}
        where tid = #{tid}
    </update>

    <update id="commentDynamic">
        update `dynamic`
        <set>
            <if test="deleted != null">
                deleted = #{deleted}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteOneDynamicLike">
        delete from `like_info`
        where uid = #{uid} and did = #{did} and type = 1
    </delete>

    <select id="getDyanmciList" resultType="com.bili.entity.Dynamic">
        select * from `dynamic`
        where
        uid = #{uid} and deleted = 0
        ORDER BY id DESC
    </select>

    <select id="getImgs" resultType="com.bili.entity.Dyimgs">
        select * from `dyimgs`
        where did  = #{id}
    </select>

    <select id="getFollowlist" resultType="java.lang.Integer">
        select uid1 from `follow`
        where uid2 = #{uid}
    </select>

    <select id="getOneDynamic" resultType="com.bili.entity.Dynamic">
        select * from `dynamic`
        where
        id = #{did}
    </select>

    <select id="getImgssDid" resultType="java.lang.Integer">
        select did from `dyimgs`
        where uid = #{uid}
        group by did
    </select>

    <select id="getDynamic" resultType="com.bili.entity.Dynamic">
        select * from `dynamic`
        where
        id = #{did}
    </select>

    <select id="getLiked" resultType="java.lang.Integer">
        select count(*) from `like_info`
        where uid = #{uid} and did = #{did} and type = 1
    </select>

    <select id="getAllTopical" resultType="com.bili.entity.Topical">
        select * from `topical`
    </select>

    <select id="getDynamicByTopical" resultType="com.bili.entity.Dynamic">
        select * from `dynamic`
        where topical = #{topical} and deleted = 0
        order by
        <if test="sort == 0">
            likes
        </if>
        <if test="sort == 1">
            time
        </if>
        desc
    </select>

    <select id="getOneTopical" resultType="com.bili.entity.Topical">
        select * from `topical`
        where topical = #{topical}
    </select>
    <select id="getDynamicByKeyword" resultType="com.bili.entity.Dynamic">
        select * from `dynamic`
        where uid = #{uid}
        and content like concat('%', #{keyword}, '%')
        and deleted = 0
    </select>


</mapper>