<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.TagMapper">
    <insert id="insertTag">
        insert into `tags` (tag_name, type, r_id)
        values(#{tagName}, #{type}, #{rId})
    </insert>

    <insert id="insertOneTag">
        insert into `tags_main_list` (tag_name, type)
        values (#{tagName}, #{type})
    </insert>

    <select id="existTag" resultType="java.lang.Integer">
        select count(*) from `tags` where tag_name = #{tagName}
    </select>

    <select id="getOneTagType" resultType="com.bili.entity.TagMainList">
        select * from `tags_main_list`
        where type = #{type}
    </select>
</mapper>