<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.UserMapper">
    <insert id="addUser" useGeneratedKeys="true" keyProperty="uid">
        insert into `user` (account, password)
        values (#{account}, #{password})
    </insert>

    <insert id="addFollow">
        insert into `follow`
        (uid1, uid2) values (#{uid1}, #{uid2})
    </insert>
    <insert id="giveInfo">
        update `user`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="gonggao != null">
                gonggao = #{gonggao},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="defaultfid != null">
                defaultfid = #{defaultfid}
            </if>
        </set>
        <where>
            uid = #{uid}
        </where>
    </insert>

    <insert id="addUserSettnig">
        insert into `user_setting`
         (uid) values (#{uid})
    </insert>

    <insert id="createLikeBoard">
        insert into `imgs_board`
        (uid, type, title) values (#{uid}, 0, "喜欢")
    </insert>

    <update id="addFollowNum1">
        update `user`
        set
        fans = fans + #{num}
        where uid = #{uid1}
    </update>

    <update id="addFollowNum2">
        update `user`
        set
        follows = follows + #{num}
        where uid = #{uid2}
    </update>

    <update id="updateinfo">
        update `user`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="gonggao != null">
                gonggao = #{gonggao},
            </if>
            <if test="intro != null">
                intro = #{intro}
            </if>
        </set>
        <where>
            uid = #{uid}
        </where>
    </update>

    <update id="updateUserdata">
        update `user`
        <set>
            <if test="icons != null">
                icons = icons + #{icons},
            </if>
            <if test="lv != null">
                lv = lv + #{lv},
            </if>
            <if test="likes != null">
                likes = likes + #{likes},
            </if>
            <if test="plays != null">
                plays = plays + #{plays},
            </if>
            <if test="videos != null">
                videos = videos + #{videos},
            </if>
            <if test="dynamics != null">
                dynamics = dynamics + #{dynamics},
            </if>
            <if test="animas != null">
                animas = animas + #{animas}
            </if>
        </set>
        <where>
            uid = #{uid}
        </where>
    </update>

    <update id="touseIocn">
        update `user`
        set icons = icons - #{icons}
        where uid = #{uid}
    </update>

    <update id="changeFollow">
        update `follow`
        set deleted = #{num}
        where
        uid1 = #{uid1} and uid2 = #{uid2}
    </update>

    <update id="updateFamous">
        update `video` set
        famous = #{num}
        where vid = #{vid}
    </update>

    <update id="userdeletevideo">
        update `video`
        set pass = 3
        where vid = #{vid}
    </update>

    <update id="userChnageInfo">
        update `video`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="cover != null">
                cover = #{cover}
            </if>
        </set>
        <where>
            vid = #{vid}
        </where>
    </update>
    <update id="changeSetting">
        update `user_setting`
        <set>
            <if test="favlist != null">
                favlist = #{favlist},
            </if>
            <if test="followlist != null">
                followlist = #{followlist},
            </if>
            <if test="likerecently != null">
                likerecently = #{likerecently},
            </if>
            <if test="fanslist != null">
                fanslist = #{fanslist},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="donate != null">
                donate = #{donate}
            </if>
        </set>
        <where>
            uid = #{uid}
        </where>
    </update>

    <update id="updateTempToken">
        update `user`
        set temptoken = #{token}
        where uid = #{uid}
    </update>

    <select id="findAccount" resultType="com.bili.entity.User">
        select * from `user`
        where account = #{account}
    </select>

    <select id="findUid" resultType="com.bili.entity.User">
        select * from `user`
        where uid = #{uid}
    </select>

    <select id="getByUid" resultType="com.bili.entity.User">
        select * from `user`
        where uid = #{uid}
    </select>

    <select id="getUidByKeyword" resultType="java.lang.Integer">
        select uid from `user`
        where
        name like concat('%', #{keyword}, '%')
    </select>

    <select id="getUserByKeyword" resultType="com.bili.entity.User">
        select * from `user`
        where
        name like concat('%', #{keyword}, '%')
    </select>

    <!--  uid1 时被关注者  -->
    <select id="judgeFollow" resultType="java.lang.Integer">
        select count(*) from `follow`
        where
        uid1 = #{uid1} and uid2 = #{uid2}
        and deleted = 0
    </select>

    <select id="findINFollow" resultType="java.lang.Integer">
        select count(*) from `follow`
        where uid1 = #{uid1} and uid2 = #{uid2} and deleted = 1
    </select>

    <select id="finfAllFollows" resultType="java.lang.Integer">
        select uid1 from `follow`
        where
        uid2 = #{uid}
        and deleted = 0
        <if test="keyword != null and keyword !=''">
            and name like concat('%', #{keyword}, '%')
        </if>
        <if test="nums != 0">
            limit #{page}, #{nums}
        </if>
    </select>

    <select id="getFollowsLength" resultType="java.lang.Integer">
        select count(*) from `follow`
        where uid2 = #{uid}
<!--        <if test="keyword != null and keyword !=''">-->
<!--            and name like concat('%', #{keyword}, '%')-->
<!--        </if>-->
    </select>

    <select id="getFansLength" resultType="java.lang.Integer">
        select count(*) from `follow`
        where uid1 = #{uid}
<!--        <if test="keyword != null and keyword !=''">-->
<!--            and name like concat('%', #{keyword}, '%')-->
<!--        </if>-->
    </select>

    <select id="getFans" resultType="java.lang.Integer">
        select uid2 from `follow`
        where
        uid1 = #{uid}
        and deleted = 0
        <if test="keyword != null and keyword !=''">
            and name like concat('%', #{keyword}, '%')
        </if>
        <if test="nums != 0">
            limit #{page}, #{nums}
        </if>
    </select>

    <select id="findAccount2" resultType="java.lang.Integer">
        select count(*)
        from `user`
        where account = #{account}
    </select>

    <select id="getSetting" resultType="com.bili.entity.UserSetting">
        select * from `user_setting`
        where uid = #{uid}
    </select>

<!--    原符号 	  < 	   <= 	   > 	   >= 	    & 	     ' 	      "
        替换符号 	&lt; 	&lt;= 	&gt; 	&gt;= 	&amp; 	&apos; 	&quot;-->
    <select id="getOneMounthFans" resultType="java.lang.Integer">
        select count(*) from `follow`
        where uid1 = #{uid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="AllUser" resultType="com.bili.entity.User">
        select * from `user`
    </select>

</mapper>