<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mapper.VideoMapper">
    <!--  这个配置可一获取生成的vid  -->
    <insert id="addInfos" useGeneratedKeys="true" keyProperty="vid">
<!--        insert into `video` (title, intro, cover, uid, duration, vidlong, maintag, othertags, hashValue, listid, type, pass, aid)-->
<!--        values (#{title}, #{intro}, #{cover}, #{uid}, #{duration}, #{vidlong}, #{maintag}, #{othertags}, #{hashValue}, #{listid}, #{type}, #{pass}, #{aid})-->
        insert into `video` (title, intro, cover, uid, duration, vidlong, hashValue, listid, type, pass, aid)
        values (#{title}, #{intro}, #{cover}, #{uid}, #{duration}, #{vidlong}, #{hashValue}, #{listid}, #{type}, #{pass}, #{aid})
    </insert>

    <insert id="addWatch">
        insert into `watch_info` (vid, uid, lastwatched, done)
        values (#{vid}, #{uid}, #{lastwatched}, #{done})
    </insert>

    <insert id="addLike">
        insert into `like_info` (vid, uid, type, hisuid)
        values (#{vid}, #{uid}, #{type}, #{hisuid})
    </insert>

    <insert id="addIcon">
        insert into `icon_info` (vid, uid)
        values (#{vid}, #{uid})
    </insert>

    <insert id="addFav">
        insert into `fav_info` (vid, uid， fid)
        values (#{vid}, #{uid}, #{fid})
    </insert>

    <insert id="addShare">
        insert into `share_info` (vid, uid)
        values (#{vid}, #{uid})
    </insert>
    <insert id="sendDm">
        insert into `dm` (uid, vid, text, color, sendtime, type)
        values (#{uid}, #{vid}, #{text}, #{color}, #{sendtime}, #{type})
    </insert>

    <insert id="addVideoList" useGeneratedKeys="true" keyProperty="listid">
        insert into `videolist`
        (title, intro, uid) values (#{title}, #{intro}, #{uid})
    </insert>

    <insert id="addVideoToList">
        insert into `videolist_info`
        (vid, uid, listid) values (#{vid}, #{uid} ,#{listid})
    </insert>

    <insert id="insertAnimation" useGeneratedKeys="true" keyProperty="aid">
        insert into `animation`
        (title, chapters, intro, cover, uid) values (#{title}, #{chapters}, #{intro}, #{cover}, #{uid})
    </insert>

    <insert id="insertAnimationList"  useGeneratedKeys="true" keyProperty="id">
        insert into `animation_list`
        (aid, season, chapter, chaptertitle, uid) values (#{aid}, #{season}, #{chapter}, #{chaptertitle}, #{uid})
    </insert>

    <insert id="addClassify">
        INSERT IGNORE INTO `video_classify` (value) VALUES (#{value});
    </insert>

    <!--  基本信息  -->
    <update id="updateinfo">
        update `video`
        <set>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="pass != null">
                pass = #{pass},
            </if>
            <if test="listid != null">
                listid = #{listid}
            </if>
        </set>
        <where>
            vid = #{vid}
        </where>
    </update>

    <!--  数据信息  -->
    <update id="updateVideoInfo">
        update `video`
        <set>
            <if test="plays != null">
                plays = plays + #{plays},
            </if>
            <if test="danmus != null">
                danmus = danmus + #{danmus},
            </if>
            <if test="likes != null">
                likes = likes + #{likes},
            </if>
            <if test="icons != null">
                icons = icons + #{icons},
            </if>
            <if test="favorites != null">
                favorites = favorite + #{favorites},
            </if>
            <if test="shares != null">
                shares = shares + #{shares},
            </if>
            <if test="listid != null">
                listid = #{listid}
            </if>
        </set>
        <where>
            vid = #{vid}
        </where>
    </update>

    <update id="chnageCommentNum">
        update `video` set
        comments = comments + #{num}
        where vid = #{vid}
    </update>

    <update id="chnageCommentNumDynamic">
        update `dynamic` set
        comments = comments + #{num}
        where id = #{did}
    </update>

    <update id="updateWatchinfo">
        update `watch_info`
        <set>
            <if test="lastwatched != null">
                lastwatched = #{lastwatched},
            </if>
            <if test="done != null">
                done = #{done},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="deleted != null">
                deleted = #{deleted}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getAll" resultType="com.bili.entity.PO.Video">
        select * from `video` order by time
    </select>

    <select id="getRecommend" resultType="com.bili.entity.PO.Video">
        select * from `video` as res
        where
        pass = 1 and res.vid>=(RAND()*(SELECT MAX(vid) FROM `video`))LIMIT 6
    </select>

    <select id="getRandom" resultType="com.bili.entity.PO.Video">
        SELECT * FROM video
        <where>
            <if test="vids != null and vids.size != 0">
                vid not in
                <foreach collection="vids" index="index" item="one" open="(" separator="," close=")">
                    #{one}
                </foreach>
            </if>
        </where>
        ORDER BY RAND()
        LIMIT #{num};
    </select>

    <select id="getByVid" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where
        vid = #{vid}
    </select>
    <!--  播放次数  -->
    <select id="getPalys" resultType="java.lang.Integer">
        select count(*) from `watch_info`
        where vid = #{vid}
    </select>

    <select id="getComments" resultType="java.lang.Integer">
        select count(*) from `comment`
        where vid = #{vid} and deleted = 0
    </select>

    <select id="getDanmus" resultType="java.lang.Integer">
        select count(*) from `danmu`
        where vid = #{vid}
    </select>

    <select id="getLikes" resultType="java.lang.Integer">
        select count(*) from `like_info`
        where vid = #{vid}
    </select>

    <select id="getIcons" resultType="java.lang.Integer">
        select count(*) from `icon_info`
        where vid = #{vid}
    </select>

    <select id="getFavorites" resultType="java.lang.Integer">
        select count(*) from `fav_info`
        where vid = #{vid}
    </select>

    <select id="getShares" resultType="java.lang.Integer">
        select count(*) from `share_info`
        where vid = #{vid}
    </select>

    <select id="exist" resultType="java.lang.Integer">
        select count(*) from `like_info`
        where vid = #{vid} and uid = #{uid}
    </select>

    <select id="getUserLikes" resultType="java.lang.Integer">
        select count(*) from `like_info`
        where uid = #{uid} and vid = #{vid}
    </select>

    <select id="getUserIcon" resultType="java.lang.Integer">
        select count(*) from `icon_info`
        where uid = #{uid} and vid = #{vid}
    </select>

    <select id="getUserFav" resultType="java.lang.Integer">
        select count(*) from `fav_info`
        where uid = #{uid} and vid = #{vid}
    </select>

    <select id="getLastWatch" resultType="com.bili.entity.PO.Watchinfo">
        select * from `watch_info`
        where uid = #{uid} and vid = #{vid}
    </select>

    <select id="existedIcon" resultType="java.lang.Integer">
        select count(*) from `icon_info`
        where uid = #{uid} and vid = #{vid}
    </select>

    <select id="getHistory" resultType="com.bili.entity.PO.Watchinfo">
        select * from `watch_info`
        where uid = #{uid} and deleted = 0
        order by time desc
    </select>

    <select id="getVideoByUid" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where uid = #{uid} and pass = 1
        ORDER BY vid desc
    </select>

    <select id="getVideoByUidNums" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where uid = #{uid} and pass = 1
        ORDER BY vid desc
        limit #{nums}
    </select>

    <select id="getRank1" resultType="com.bili.entity.PO.Video">
        SELECT * FROM `video`
        where pass = 1
        ORDER BY likes desc
        limit 50
    </select>
    <select id="getRank2" resultType="com.bili.entity.PO.Video">
        SELECT * FROM `video`
        where pass = 1
        ORDER BY comments desc
        limit 50
    </select>
    <select id="getRank3" resultType="com.bili.entity.PO.Video">
        SELECT * FROM `video`
        where pass = 1
        ORDER BY plays desc
        limit 50
    </select>

    <select id="getByKeyword" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where pass = 1 and
        title like concat('%', #{keyword}, '%')
    </select>

    <select id="getHomeDynamicVideo" resultType="com.bili.entity.PO.Video">
        select * from `watch_info`
        where
        id >= (select id from `watch_info` order by id limit #{start}, 1)
        limit #{num};
    </select>

    <select id="getHomHistory" resultType="com.bili.entity.PO.Watchinfo">
<!--        select * from `watch_info`-->
<!--        where-->
<!--        vid >= (select vid from `watch_info` order by vid limit #{start}, 1)-->
<!--        and uid = #{uid}-->
<!--        order by time desc-->
<!--        limit #{num};-->
        select * from `watch_info`
        where uid = #{uid}
        order by time desc
        limit #{num};
    </select>
    <select id="getDm" resultType="com.bili.entity.PO.Dm">
        select * from `dm`
        where
        vid = #{vid}
        order by sendtime
    </select>

    <select id="searchTilte" resultType="java.lang.String">
        select title from `video`
        where pass = 1 and
        title like concat('%', #{keyword}, '%')
    </select>
    <select id="searchName" resultType="java.lang.String">
        select name from `user`
        where
        name like concat('%', #{keyword}, '%')
    </select>
    <select id="searchUserName" resultType="java.lang.Integer">
        select uid from `user`
        where
        name like concat('%', #{keyword}, '%')
    </select>

    <select id="getByDuration1" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where
        title like concat('%', #{keyword}, '%')
        and duration between #{time1} and #{time2}
    </select>

    <select id="getFamous" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where
        uid = #{uid} and famous = 1 and pass = 1
    </select>
    <select id="getUnfamous" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where
        uid = #{uid} and famous = 0 and pass = 1
        ORDER BY #{type} DESC
    </select>

    <select id="getAuditVideo" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where
        pass = 0
    </select>

    <select id="getAllv" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where uid = #{uid}
        and pass != 3
    </select>

    <select id="getUserVideoList" resultType="com.bili.entity.PO.VideoList">
        select * from `videolist`
        where uid = #{uid}
    </select>

    <select id="getNumsOfVideoList" resultType="java.lang.Integer">
        select count(*) from `video`
        where listid = #{listid} and pass = 1
    </select>
    <select id="getAllListVideo" resultType="java.lang.Integer">
        select vid from `videolist_info`
        where listid = #{listid}
    </select>

    <select id="getByMaintag" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where maintag = #{maintag} and pass = 1
        order by plays desc
    </select>

    <select id="getAllMainTag" resultType="java.lang.String">
        select DISTINCT maintag from `video`
    </select>

    <select id="videoNumsMainTag" resultType="java.lang.Integer">
        select count(*) from `video`
        where maintag = #{maintag}
    </select>

    <select id="getTandN" resultType="com.bili.entity.temp.TagAndNums">
        SELECT maintag, COUNT(maintag) as num FROM `video`
        GROUP BY maintag
        ORDER BY COUNT(maintag) DESC;
    </select>

    <select id="getVideoByHash" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where hashValue = #{hashValue}
    </select>

    <select id="getUnExitList" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where pass = 1 and listid = -1 and uid = #{uid}
    </select>

    <select id="getVideoFormList" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where listid = #{listid} and pass = 1 and listid != -1
        order by time DESC
    </select>
    
    <select id="getUserListOne" resultType="com.bili.entity.PO.VideoList">
        select * from `videolist`
        where listid = #{listid}
    </select>

    <select id="getOneMounthPlays" resultType="java.lang.Integer">
        select count(*) from `watch_info`
        where uid = #{uid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getOneMounthDms" resultType="java.lang.Integer">
        select count(*) from `dm`
        where vid = #{vid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getOneMounthLikes" resultType="java.lang.Integer">
        select count(*) from `like_info`
        where hisuid = #{uid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getOneMounthShares" resultType="java.lang.Integer">
        select count(*) from `share_info`
        where vid = #{vid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getOneMounthCollects" resultType="java.lang.Integer">
        select count(*) from `fav_info`
        where vid = #{vid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getOneMounthIcons" resultType="java.lang.Integer">
        select count(*) from `icon_info`
        where vid = #{vid}
        and DATE_SUB(CURDATE(),  INTERVAL 1 MONTH) &lt;= date(time);
    </select>

    <select id="getVideoByKeyword" resultType="com.bili.entity.PO.Video">
        select * from `video`
        where uid = #{uid}
        and title like concat('%', #{keyword}, '%')
        and pass = 1
    </select>

    <select id="getVidsByAid" resultType="java.lang.Integer">
        select * from `video`
        where aid = #{aid}
        and aid != -1
        and pass = 1
    </select>

    <select id="getAllvideos" resultType="java.lang.Integer">
        select count(*) from video
    </select>

    <select id="getAllClassify" resultType="com.bili.entity.PO.VideoClassify">
        select * from `video_classify`
        order by time
    </select>

    <select id="getVideos" resultType="com.bili.entity.PO.Video">
        select * from `video`
        <if test="type != null and type == 0">
            where pass = 1
        </if>
    </select>

    <delete id="deletedLike">
        delete from `like_info`
        where uid = #{uid} and vid = #{vid} and type = 0
    </delete>

    <delete id="deleteVideoList">
        delete from `videolist`
        where listid = #{listid}
    </delete>

    <update id="deleteAll">
        update `watch_info` set deleted = 1
        where uid = #{uid}
    </update>

    <update id="deleteHistory">
        update `watch_info` set deleted = 1
        where uid = #{uid} and vid = #{vid}
    </update>
    <update id="updateVideoDm">
        update `video`
        set danmus = danmus + 1
    </update>

    <update id="updatePass">
        update `video`
        set pass = #{pass}
        where vid = #{vid}
    </update>

    <update id="updateVideoInfoListid">
        update `video`
        set listid = -1
        where listid = #{listid}
    </update>

    <update id="chanegListInfo">
        update `videolist`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="intro != null">
                intro = #{intro}
            </if>
        </set>
        <where>
            listid = #{listid}
        </where>
    </update>

    <update id="uploadAnimationList">
        update `animation_list`
        <set>
            <if test="season != null">
                season = #{season},
            </if>
            <if test="chapter != null">
                chapter = #{chapter},
            </if>
            <if test="chaptertitle != null">
                chaptertitle = #{chaptertitle},
            </if>
            <if test="vid != null">
                vid = #{vid}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateAnimationChpaters">
        update `animation`
        set
        chapters = chapters + #{num}
        where
        aid = #{aid}
    </update>
</mapper>